@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, arial, sans, sans-serif;
    /* outline: 1px solid red; */
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #384F9E;
}

nav {
    background-color: #4f69c1;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.under-nav {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lwv-back {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    left: 10px;
}

.nav-h3-a {
    color: #fff;
}
.nav-h3-a p {
    font-size: 1.1rem;
    padding: 0 .8rem 0 0;
}

.lwv-img {
    width: 45px;
    padding: 13px 0 0 7px;
    cursor: pointer;
}

.nav-menu-blk {
    padding: 20px 10px 0 0;
}

.nav-menu {
    width: 35px;
}

.img-box {
    text-align: center;
    margin: 6.5rem 0 0 0;
}

.s2-img {
    width: 80%;
    border-radius: 10px;
}


.section-hd {
    position: relative;
    top: 5rem;
    text-align: center;
}

.section-hd h1 {
    color: #fff;
    font-weight: bold;
    font-size: 2.4rem;
    padding: 0px 20px 20px 20px;
}


.verify-top {
    padding: 0rem 0 .7rem 0;
}

.verify-top h2, .verify-bt h2 {
    color: #fff;
    padding: 0 0 .5rem 0;
}

.verify-bt h2, h3 {
    letter-spacing: 1px;
}

.verify-bt h3 {
    padding: 0 1rem .5rem 1rem;
    line-height: 1.8rem;
}

.verify {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Quicksand, arial, sans, sans-serif;
}

.verify-bt, .verify-top, .verify-mid {
    text-align: center;
    display: block;
}

.verify-mid .sub-ver-back {
    margin: 2.3rem 0 0 0;
}

.verify-mid h3 {
    color: #fff;
    padding: .7rem 1rem;
    line-height: 1.8rem;
}
.verify-bt {
    display: block;
    padding: .5rem 0 0em 0;
}

.section-hd-b h3 {
    color: #fff;
    margin: 1rem 0 0 0;
}

.hd-sub-text {
    margin: -1rem 0 0 0;
    text-align: center;
}

.bul-pt::before {
    content: "\2022";
    position: relative;
    right: .5rem;
}

.sub-ver-back {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
}

.ver-checkbox {
    height: 2.2rem;
    width: 3rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7px 0 0;
    border-radius: 5px;
}

.ver-check {
    width: 37px;
}

.ver-p1, .ver-p2 {
    font-family: Quicksand, arial, sans, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 1px;
}

.ver-p1 {
    color: #fff;
    margin: 0 7px 0 0;
}
.ver-p2 {
    color: rgb(253, 54, 54);
}

.ver-h3-2 {
    display: none;
}

.sub-text-hd {
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem 1rem 0 1rem;
}
.sub-text-hd-1 {
    padding: 1rem .5rem 0 1.1rem;
}


.section-hd-b3 {
    margin: -5rem 0 0 0;
}

.down-arrow-2 {
    padding: .5rem 0 0 0;
    width: 2rem;
}

.game-selections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-selections a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.game-select {
    padding: .5rem 0;
    border: 3px solid yellow;
    border-radius: 2rem;
}

.game-select h2 {
    color: #fff;
}
.sub-gs1 {
    padding: .5rem .8rem .5rem .8rem;
}
.gs1 {
    margin: 1.5rem 0 0 0;
    padding: .5rem .8rem .5rem .8rem;
}
.gs2-a {
    margin: 1rem 0 0 0;
}
.gs2 {
    margin: .5rem 0 0 0;
    padding: .5rem .8rem;
}

.gs3 {
    margin: .5rem 0 0 0;
    padding: .2rem 1rem;
}
.gs3-a {
    padding: 1rem 0 0 0;
}

.gs4-a {
    padding: 1.5rem 0 1.5rem 0;
}
.gs4 {
    margin: 0rem 0 0 0;
    padding: .4rem 1rem;
}

.line {
    width: 2.2rem;
    padding: 1rem 0 .7rem 0;
}


@media screen and (min-width: 375px) {
    .down-arrow {
        padding: 1rem 0 0 0;
    }
}

@media screen and (min-width: 1024px) {

    .sub-main-section-hd {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
    }

    .line {
        display: none;
    }

    .ver-h3-1 {
        display: none;
    }

    .ver-h3-2 {
        display: block;
    }

    .sub-ver-back-2 {
        display: none;
    }

    .section-hd {
        top: 6rem;
        padding: 0 0 0 2rem;
        text-align: left;
    }
    .section-hd-b {
        grid-column: 1;
        grid-row: 1;
        margin: 0rem 0 0 0;
    }
    .img-box {
        grid-column: 2;
        grid-row: 1;
        position: relative;
        top: 4rem;
        /* margin: 0 0 0 0; */
    }
    .section-hd-b2 {
        grid-column: 1;
        grid-row: 2;
        position: relative;
        top: 4rem;
        left: 1rem;
    }
    .section-hd-b3 {
        grid-column: 2;
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        position: relative;
        top: 3.5rem;
        right: 3.3rem;
    }


    .section-hd h1 {
        color: #fff;
        font-weight: bold;
        font-size: 2.4rem;
        padding: 0px 20px 20px 0px;
    }

    .game-selections {
        /* margin: 0 0 0 6.3rem; */
        position: relative;
        left: 3.1rem;
        bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    .game-select {
        font-size: .8rem;
    }

    .verify-top {
        float: left;
        padding: 1.4rem 0rem 0 5.5rem;
    }

    .verify-bt h2 {
        text-align: center;
    }

    .down-arrow-2 {
        margin: -.3rem 0 0 0;
        /* padding: .rem 0 0 0; */
        /* width: 2rem; */
    }

    .hd-sub-text {
        padding: 0rem 0 0 1rem;
    }
    .hd-sub-text p {
        font-size: 1.4rem;
    }

    .bul-pt {
        list-style: none;
    }

    .hd-sub-text-2 {
        width: 120%;
        padding: 2rem 0 0 1rem;
    }

    .sub-text-hd {
        /* width: 100%; */
    }

    .sub-text-hd-2 {
        color: #fff;
        font-size: 1.8rem;
        display: inline;
    }
    .sub-text-hd-3 {
        color: #fff;
        font-size: 1.8em;
        display: inline;
    }

    .gs1 {
        margin: 1.5rem 0 1rem 0;
    }

    .gs2-a {
        margin: 0rem 0 0 0;
    }

    .gs3 {
        margin: .5rem 0 0 0;
        padding: .45rem 1rem;
    }

    .gs4-a {
        margin: 0rem 0 0rem 2.3rem;
    }
    
    .img-box p {
        color: #fff;
    }

    .s2-img-3 {
        width: 20rem;
        border-radius: 10px;
    }
}